<div class="animated fadeIn" *ngIf="new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header">
					<strong>{{torneo?'Editar':'Nuevo'}} Torneo</strong>
				</div>
				<div class="card-body">
					<app-form-torneo (resp)="saved()"></app-form-torneo>
		  		</div>
			</div>
		</div>
	</div>
</div>

<div class="animated fadeIn">
	<div class="row">
    	<div class="col-lg-12 col-md-12">
      		<div class="card">
        		<div class="card-header">
           			Torneos
           			<button type="button" (click)="newTorneo()" class="btn btn-primary"><i class="icon-plus"></i>Torneo</button>
        		</div>
                <div class="card-body">
                    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none;text-align: right;">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input #gb type="text" pInputText size="30" placeholder="Buscar">
                    </div>
                    <p-dataTable [value]="torneos" [rows]="10" [paginator]="true" [globalFilter]="gb" [emptyMessage]="'No hay registros'" #dt>
                     
                        <p-column field="nombre" header="Nombre" [sortable]="true"></p-column>
                        <p-column field="descripcion" header="Descripcion" [sortable]="true"></p-column>
                        <p-column field="direccion" header="Dirección" [sortable]="true"></p-column>
                        <p-column field="fecha" header="Fecha" [sortable]="true"></p-column>
                        <p-column header="Acciones">
                            <ng-template let-col let-c="rowData" pTemplate="body">
                                <button type="button" class="btn btn-danger" (click)="deleteTorneo(c)" title="Eliminar"><i class="icon-close"></i></button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>	