<form [formGroup]="formTorneo" (ngSubmit)="registrarTorneo(formTorneo.value)">	
	<div class="row">

		<div class="col-sm-6">
			<div class="form-group">
				<label>Nombre</label> <span style="color:#FF0000">*</span>
				<input type="text"  formControlName="nombre" class="form-control" placeholder="Nombre">
				<div *ngIf="(formTorneo.controls.nombre.errors)">
					<p class="text-danger" *ngIf="formTorneo.controls.nombre.touched && formTorneo.controls.nombre.errors.required">Campo Requerido</p>
					<p class="text-danger" *ngIf="formTorneo.controls.nombre.touched && formTorneo.controls.nombre.errors.minlength">Mínimo 5 caracteres</p>	
				</div>
			</div>
		</div>
		
		<div class="col-sm-5">
			<div class="form-group">
				<label>Descripcion</label> <span style="color:#FF0000">*</span>
				<textarea formControlName="descripcion" class="form-control" placeholder="Descripcion"></textarea>
				<div *ngIf="(formTorneo.controls.descripcion.errors)">
					<p class="text-danger" *ngIf="formTorneo.controls.descripcion.touched && formTorneo.controls.descripcion.errors.required">Campo Requerido</p>
					<p class="text-danger" *ngIf="formTorneo.controls.descripcion.touched && formTorneo.controls.descripcion.errors.minlength">Mínimo 10 caracteres</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label>Direccion</label> <span style="color:#FF0000">*</span>
				<input type="text"  formControlName="direccion" class="form-control" placeholder="Direccion">
				<div *ngIf="(formTorneo.controls.direccion.errors)">
					<p class="text-danger" *ngIf="formTorneo.controls.direccion.touched && formTorneo.controls.direccion.errors.required">Campo Requerido</p>
					<p class="text-danger" *ngIf="formTorneo.controls.direccion.touched && formTorneo.controls.direccion.errors.minlength">Mínimo 10 caracteres</p>	
				</div>		
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<label>Fecha</label> <span style="color:#FF0000">*</span>
				<br>
				<p-calendar dateFormat="dd/mm/yy" formControlName="fecha" inputStyleClass="form-control" [locale]="es"  [minDate]="minDate"></p-calendar>
				<p class="text-danger" *ngIf="(formTorneo.controls.fecha.errors) && formTorneo.controls.fecha.touched && formTorneo.controls.fecha.errors.required">Campo Requerido</p>
			</div>
		</div>

		<div class="col-sm-12 col-lg-12">
			<button type="submit" class="btn btn-primary" *ngIf="formTorneo.valid">Guardar</button>
			<button type="submit" class="btn btn-primary" *ngIf="!(formTorneo.valid)" disabled="true">Guardar</button>
			<button type="button" class="btn btn-danger" (click)="resp.emit()">Cancelar</button>
		</div>
	</div>
</form>
