<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="card mx-4">
          <div class="card-body p-4">
            <div class="text-center">
                <img src="./assets/img/logo.png" width="200">
                <h3 style="margin: 20px 0">Registro de participantes</h3>
            </div>
            <div *ngIf="torneo">
              <app-form-participantes [torneo]="torneo" (resp)="saved()"></app-form-participantes>
            </div>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <!-- <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button> -->
              </div>
              <div class="col-6">
                <!-- <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
