<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group mb-0">
          <div class="card p-4">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"> 
              <div class="card-body text-center">
              	<img src="./assets/img/logo.png" width="200">
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" class="form-control" placeholder="Nombre de usuario" formControlName="email">
                
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Clave" formControlName="password">
                  
                </div>
                <div class="row">
                  <div class="col-6 text-left">
                    <button type="submit" class="btn btn-primary px-4">Iniciar Sesión</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
