<div class="animated fadeIn" *ngIf="editar_puntuacion">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header">
					<strong>{{participante?'Editar':'Nuevo'}} Participante</strong>
				</div>
				<div class="card-body">
					<app-editar-puntuacion [participante]="participante" [evento]="evento" (resp)="saved()"></app-editar-puntuacion>
		  		</div>
			</div>
		</div>
	</div>
</div>
<div class="animated fadeIn">
	<div class="row">
	    	<div class="col-lg-12 col-md-12">
	      		<div class="card">

	        		<div class="card-header">
	           			Participantes
	           			        		</div>
	        	    <div class="card-body">
	                    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none;text-align: right;">
	                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
	                        <input #gb type="text" pInputText size="30" placeholder="Buscar">
	                    </div>
	                    <p-dataTable [value]="participantes" [rows]="10" [paginator]="true" [globalFilter]="gb" [emptyMessage]="'No hay registros'" #dt>
	                     
	                        <p-column field="nombre" header="Nombre" [sortable]="true"></p-column>
	                        <p-column field="apellido" header="Apellido" [sortable]="true"></p-column>
	                        <p-column field="cedula" header="Cedula" [sortable]="true"></p-column>
	                        <p-column field="puntuacion" header="Puntuación" [sortable]="true">
	                        </p-column>
	                        <p-column header="Acciones">
	                            <ng-template let-col let-c="rowData" pTemplate="body">
	                                <button type="button" class="btn btn-primary" (click)="editar(c)" title="Editar Puntuación"><i class="icon-pencil" ></i></button>
	                            </ng-template>
	                        </p-column>
	                    </p-dataTable>
	                </div>
	            </div>
	        </div>
	</div>	
</div>
