<div class="form-group col-sm-12">
    <label>Torneos</label>
    <select class="form-control" [(ngModel)]="torneo" (change)="change()">
        <option *ngFor="let t of torneos" [ngValue]="t">{{t.nombre}}</option>
    </select>
</div>