<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mx-4">
          <div class="card-body p-4">
            <div class="text-center">
                <img src="./assets/img/logo.png" width="200">
                <h3 style="margin: 20px 0">Puntuación de {{detalleTorneo?.nombre}}</h3>
            </div>
            
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Número</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of participantesPunt">
                  <td>{{p.numero}}</td>
                  <td>{{p.nombre}}</td>
                  <td>{{(p.puntuacion.puntuacion)? p.puntuacion.puntuacion : 0}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
              </div>
              <div class="col-6">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>