<form [formGroup]="formParticipante" (ngSubmit)="editar_puntuacion(formParticipante.value)">	
	<div class="card">
        <div class="card-header">
          <strong>Editar puntuación</strong>
        </div>
        <div class="card-body">
          	
      		<div class="row">
      			<div class="form-group col-sm-4">
      				<label>Nombre</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="nombre" class="form-control" placeholder="Nombre" disabled>
      			</div>
      			<div class="form-group col-sm-4">
      				<label>Apellido</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="apellido" class="form-control" placeholder="Apellido" disabled>
      			</div>
      		</div>

      		<div class="row">
      			<div class="form-group col-sm-4">
      				<label>Cédula</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="cedula" class="form-control" placeholder="Cédula" disabled>
      			</div>
      			
      		
      			<div class="form-group col-sm-4">
      				<label>Puntuación</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="puntuacion" class="form-control" placeholder="Puntuación">
      			</div>
      		</div>

        </div>
	</div>

	<div class="col-sm-12 col-lg-12">
		<button type="submit" class="btn btn-primary">Guardar</button>
		<button type="button" (click)="resp.emit()" class="btn btn-danger">Cancelar</button>
	</div>
</form> 
