<form [formGroup]="formEvento" (ngSubmit)="registrar_evento(formEvento.value)">	
	<div class="row">

		<!-- <div class="form-group col-sm-6" >
			<label>Torneo</label> <span style="color:#FF0000">*</span>
			<select class="form-control" formControlName="torneo" 	>
              <option *ngFor="let t of torneos" value="{{t.id}}">{{t.descripcion}}</option>
          </select>
		</div> -->
		<div class="col-sm-6">
			<div class="form-group">
				<label>Torneo</label> <span style="color:#FF0000">*</span>
				<input type="text"  value="{{torneo.nombre}}" class="form-control" readonly="">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label>Nombre</label> <span style="color:#FF0000">*</span>
				<input type="text"  formControlName="nombre" class="form-control" placeholder="Nombre">
				<div *ngIf="(formEvento.controls.nombre.errors)">
					<p class="text-danger" *ngIf="formEvento.controls.nombre.touched && formEvento.controls.nombre.errors.required">Campo Requerido</p>
					<p class="text-danger" *ngIf="formEvento.controls.nombre.touched && formEvento.controls.nombre.errors.minlength">Mínimo 5 caracteres</p>	
				</div>
			</div>
		</div>
		
		
		<div class="col-sm-6">
			<div class="form-group">
				<label>Descripcion</label> <span style="color:#FF0000">*</span>
				<textarea formControlName="descripcion" class="form-control" placeholder="Descripcion"></textarea>
				<div *ngIf="(formEvento.controls.descripcion.errors)">
					<p class="text-danger" *ngIf="formEvento.controls.descripcion.touched && formEvento.controls.descripcion.errors.required">Campo Requerido</p>
					<p class="text-danger" *ngIf="formEvento.controls.descripcion.touched && formEvento.controls.descripcion.errors.minlength">Mínimo 10 caracteres</p>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label>Direccion</label> <span style="color:#FF0000">*</span>
				<input type="text"  formControlName="direccion" class="form-control" placeholder="Direccion">
				<div *ngIf="(formEvento.controls.direccion.errors)">
					<p class="text-danger" *ngIf="formEvento.controls.direccion.touched && formEvento.controls.direccion.errors.required">Campo Requerido</p>
					<p class="text-danger" *ngIf="formEvento.controls.direccion.touched && formEvento.controls.direccion.errors.minlength">Mínimo 10 caracteres</p>	
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label>Fecha</label> <span style="color:#FF0000">*</span>
				<br>
				<p-calendar dateFormat="dd/mm/yy" formControlName="fecha" inputStyleClass="form-control" [locale]="es" [minDate]="minDate"></p-calendar>
				<p class="text-danger" *ngIf="(formEvento.controls.fecha.errors) && formEvento.controls.fecha.touched && formEvento.controls.fecha.errors.required">Campo Requerido</p>
			</div>
		</div>

		<div class="col-sm-12 col-lg-12">
			<button type="submit" class="btn btn-primary" *ngIf="formEvento.valid">Guardar</button>
			<button type="submit" class="btn btn-primary" *ngIf="!(formEvento.valid)" disabled="true">Guardar</button>
			<button type="button" (click)="resp.emit()" class="btn btn-danger">Cancelar</button>
		</div>
	</div>
</form>
