<form [formGroup]="formParticipante" (ngSubmit)="onSubmit(formParticipante.value)">	
	<div class="card">
        <div class="card-header">
          <strong>Datos Generales</strong>
        </div>
        <div class="card-body">
          	<div class="row">
          		<div class="form-group col-sm-6">
          			<label>Evento</label> <span style="color:#FF0000">*</span>
          			<!-- <select class="form-control" formControlName="evento" 	>
                    	<option *ngFor="let e of eventos" value="{{e.id}}">{{e.descripcion}}</option>
                </select> -->
                <br>
                <p-multiSelect formControlName="evento" [options]="eventos" defaultLabel="Elige un evento" [panelStyle]="{minWidth:'12em'}" [optionLabel]="'nombre'">
                </p-multiSelect>
          		</div>

          	</div>
      		<div class="row">
      			<div class="form-group col-sm-6">
      				<label>Nombre</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName ="nombre" class="form-control" placeholder="Nombre">
              <p class="text-danger" *ngIf="(validFormSubmitted || nombre.touched) && nombre.hasError('required')">falta este campo</p>
              <p class="text-danger" *ngIf="(validFormSubmitted || nombre.touched) && nombre.hasError('minlength')">minimo 3 letras</p>
      			</div>
      			<div class="form-group col-sm-6">
      				<label>Apellido</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="apellido" class="form-control" placeholder="Apellido">
              <p class="text-danger" *ngIf="(validFormSubmitted || apellido.touched) && apellido.hasError('required')">falta este campo</p>
              <p class="text-danger" *ngIf="(validFormSubmitted || apellido.touched) && apellido.hasError('minlength')">minimo 3 letras</p>
      			</div>
      		</div>

      		<div class="row">
      			<div class="form-group col-sm-3">
      				<label>Nacionalidad</label> <span style="color:#FF0000">*</span>
      				      <select class="form-control" formControlName="nacionalidad">
      	                <option value="V">Venezolano(a)</option>
      	                <option value="E">Extranjero(a)</option>
      	            </select>
                    <p class="text-danger" *ngIf="(validFormSubmitted || nacionalidad.touched) && nacionalidad.hasError('required')">falta este campo</p>
      			</div>
      			<div class="form-group col-sm-3">
      				<label>Cedula</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="cedula" class="form-control" placeholder="Cedula">
              <p class="text-danger" *ngIf="(validFormSubmitted || cedula.touched) && cedula.hasError('required')">falta este campo</p>
              <p class="text-danger" *ngIf="(validFormSubmitted || cedula.touched) && cedula.hasError('minlength')">minimo 7 digitos</p>
      			</div>
      			<div class="form-group col-sm-2">
      				<label>Sexo</label> <span style="color:#FF0000">*</span>
      				      <select class="form-control" formControlName="sexo">
      	                <option value="F">Femenino</option>
      	                <option value="M">Masculino</option>
      	            </select>
                  <p class="text-danger" *ngIf="(validFormSubmitted || sexo.touched) && sexo.hasError('required')">falta este campo</p>
                  
      			</div>
      		
            <div class="form-group col-sm-4">
                <label>Fecha de Nacimiento</label> <span style="color:#FF0000">*</span>
                <br>
                <p-calendar dateFormat="dd/mm/yy" formControlName="fecha_nacimiento" inputStyleClass="form-control" [locale]="es" [maxDate]="maxDate" [montNavigator]="true" [yearNavigator]="true"></p-calendar>
              <p class="text-danger" *ngIf="(validFormSubmitted || fecha_nacimiento.touched) && fecha_nacimiento.hasError('required')">falta este campo</p>
            </div>

      		</div>

      		<div class="row">
      			<div class="form-group col-sm-6">
      				<label>Estado</label> <span style="color:#FF0000">*</span>
      				      <select class="form-control" formControlName="estado_pais" 	>
      	              <option *ngFor="let e of estados" value="{{e.nombre}}">{{e.nombre}}</option>
      	            </select>
                  <p class="text-danger" *ngIf="(validFormSubmitted || estado_pais.touched) && estado_pais.hasError('required')">falta este campo</p>
                  
      			</div>

      			<div class="form-group col-sm-6">
      				<label>Telefono</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="telefono" class="form-control" placeholder="Telefono">

              <p class="text-danger" *ngIf="(validFormSubmitted || telefono.touched) && telefono.hasError('required')">falta este campo</p>
              <p class="text-danger" *ngIf="(validFormSubmitted || telefono.touched) && telefono.hasError('minlength')">minimo 10 digitos</p>
      			</div>
      			
      		</div>

      		<div class="row">

      			<div class="form-group col-sm-6">
      				<label>Correo</label> <span style="color:#FF0000">*</span>
      				<input type="text"  formControlName="correo" class="form-control" placeholder="Correo">

              <p class="text-danger" *ngIf="(validFormSubmitted || correo.touched) && correo.hasError('required')">falta este campo</p>
              <p class="text-danger" *ngIf="(validFormSubmitted || correo.touched) && correo.hasError('minlength')">minimo 10 letras</p>
      			</div>
      			
      		</div>
        </div>
	</div>

 	<div class="card">
        <div class="card-header">
          <strong>Datos Atleta</strong>
        </div>
        <div class="card-body">
    		<div class="row">

    			<div class="form-group col-sm-6">
    				<label>Apodo</label> <span style="color:#FF0000">*</span>
    				<input type="text"  formControlName="apodo" class="form-control" placeholder="Apodo">
    			</div>
    			<div class="form-group col-sm-6">
    				<label>Numero</label> <span style="color:#FF0000">*</span>
    				<input type="number" (blur)="validarParticipante(numero)" formControlName="numero" class="form-control" placeholder="Número">
            <p class="text-danger" *ngIf="(numeroValido == false && numero.touched)">Ya existe un participante con este número</p>
            
    			</div>
    			<div class="form-group col-sm-6">
    				<label>Talla</label> <span style="color:#FF0000">*</span>
    				<select class="form-control" formControlName="talla">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
    			</div>
    			<div class="form-group col-sm-6">
    				<label>Club</label> <span style="color:#FF0000">*</span>
    				<input type="text"  formControlName="club" class="form-control" placeholder="Club">
    			</div>
    			
    		</div>
        </div>
    </div>

	<div class="card">
        <div class="card-header">
          <strong>Datos de Salud</strong>
        </div>
        <div class="card-body">
    		<div class="row">

    			<div class="form-group col-sm-6">
    				<label>Tipo de Sangre</label> <span style="color:#FF0000">*</span>
    				<select class="form-control" formControlName="tipo_sangre" 	>
    	              <option *ngFor="let ts of tipos_sangre" value="{{ts.id}}">{{ts.nombre}}</option>
    	            </select>
    			</div>

    			<div class="form-group col-sm-6">
    				<label>Contacto de Emergencia</label> <span style="color:#FF0000">*</span>
    				<input type="text"  formControlName="contacto_emer" class="form-control" placeholder="Contacto de Emergencia">
    			</div>

    			<div class="form-group col-sm-6">
    				<label>Telefono Emergencia</label> <span style="color:#FF0000">*</span>
    				<input type="text"  formControlName="tlf_emer" class="form-control" placeholder="Telefono Emergencia">
    			</div>
    			
    			<div class="form-group col-sm-6">
    				<label>Alergias</label> <span style="color:#FF0000">*</span>
    				<input type="text"  formControlName="alergias" class="form-control" placeholder="Alergias">
    			</div>
    			<div class="form-group col-sm-6">
    				<label>Antecedentes</label> <span style="color:#FF0000">*</span>
    				<input type="text"  formControlName="antecedentes" class="form-control" placeholder="Antecedentes">
    			</div>

    		</div> 
        </div>
    </div>

	<div class="card">
        <div class="card-header">
          <strong>Redes Sociales</strong>
        </div>
        <div class="card-body">
        	<div class="row">
        		<div class="form-group col-sm-6">
        			<label>Facebook</label> 
        			<input type="text"  formControlName="facebook" class="form-control" placeholder="Facebook">
        		</div>
        		<div class="form-group col-sm-6">
        			<label>Instagram</label> 
        			<input type="text"  formControlName="instagram" class="form-control" placeholder="Instagram">
        		</div>
        	</div>

        	<div class="row">
        		<div class="form-group col-sm-6">
        			<label>Youtube</label> 
        			<input type="text"  formControlName="youtube" class="form-control" placeholder="Youtube">
        		</div>
        		<div class="form-group col-sm-6">
        			<label>Twitter</label> 
        			<input type="text"  formControlName="twitter" class="form-control" placeholder="Twitter">
        		</div>
        	</div>
        </div>
    </div>

	<div class="col-sm-12 col-lg-12">
		<button type="submit" class="btn btn-primary">Guardar</button>
		<button type="button" class="btn btn-danger" (click)="resp.emit()">Cancelar</button>
	</div>
</form>
