<div class="row">
    <app-select-torneos (resp)="selected_torneo($event)"></app-select-torneos>
</div>
<div class="animated fadeIn" *ngIf="new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header">
					<strong>{{participante?'Editar':'Nuevo'}} Participante</strong>
				</div>
				<div class="card-body">
					<app-form-participantes [torneo]="torneo" (resp)="saved()"></app-form-participantes>
		  		</div>
			</div>
		</div>
	</div>
</div>

<div class="animated fadeIn">
	<div class="row">
    	<div class="col-lg-12 col-md-12">
      		<div class="card">
                <div class="card-header">
                    Participantes
                    <button type="button" (click)="newParticipante()" class="btn btn-primary" *ngIf="torneo"><i class="icon-plus"></i>Participante</button>
                </div>
                <div class="card-body">
                    <h3 *ngIf="!participantes?.length">No hay participantes en este torneo</h3>
                    <div *ngIf="participantes?.length">
                        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none;text-align: right;">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText size="30" placeholder="Buscar">
                        </div>
                        <p-dataTable [value]="participantes" [rows]="10" [paginator]="true" [globalFilter]="gb" [emptyMessage]="'No hay registros'" #dt>
                            
                            <p-column field="numero" header="Número" [sortable]="true"></p-column>
                            <p-column field="cedula" header="Cedula" [sortable]="true"></p-column>
                            <p-column field="nombre" header="Nombre" [sortable]="true"></p-column>
                            <p-column field="telefono" header="Telefono" [sortable]="true"></p-column>
                            <p-column field="correo" header="Correo" [sortable]="true"></p-column>
                            <p-column header="Acciones">
                                <ng-template let-col let-c="rowData" pTemplate="body">
                                    <button type="button" class="btn btn-primary" (click)="moreInfo(c)" title="Info"><i class="icon-info" ></i></button>

                                    <button *ngIf="c.estado" type="button" class="btn btn-danger" (click)="changeEstado(c)" title="Desactivar"><i class="icon-close"></i></button>

                                    <button *ngIf="!c.estado" type="button" class="btn btn-success" (click)="changeEstado(c)" title="Activar"><i class="icon-check"></i></button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</div>

<p-dialog [(visible)]="display" width="100%" height="100%" [draggable]="false" >
    <p-header>
        Datos Generales del Participante
    </p-header>
        <div class="card-header">
          <strong>Datos Generales</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <strong>Nombre: </strong><label>{{participante?.nombre}}</label>
                </div>
                <div class="col-sm-4">
                    <strong>Apellido: </strong><label>{{participante?.apellido}}</label>
                </div>
                <div class="col-sm-4">
                    <strong>Cedula: </strong><label>{{participante?.nacionalidad}}-{{participante?.cedula}}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <strong>Estado: </strong><label>{{participante?.estado_pais}}</label>
                </div>
                <div class="col-sm-5">
                    <strong>Fecha de Nacimiento: </strong><label>{{participante?.fecha_nacimiento}}</label>
                </div>
                <div class="col-sm-3">
                    <strong>Sexo: </strong><label>{{participante?.sexo}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Telefono: </strong><label>{{participante?.telefono}}</label>
                </div>
                <div class="col-sm-4">
                    <strong>Correo: </strong><label>{{participante?.correo}}</label>
                </div>
            </div>
        </div>
    <div class="card-header">
      <strong>Datos del Atleta</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <strong>Apodo: </strong><label>{{participante?.apodo}}</label>
            </div>
            <div class="col-sm-4">
                <strong>Talla: </strong><label>{{participante?.talla}}</label>
            </div>
            <div class="col-sm-4">
                <strong>Club: </strong><label>{{participante?.club}}</label>
            </div>
            <div class="col-sm-4">
                <strong>Numero: </strong><label>{{participante?.numero}}</label>
            </div>
        </div>
    </div>

    <div class="card-header">
      <strong>Datos de Salud</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <strong>Tipo de sangre: </strong><label>{{participante?.tipo_sangre}}</label>
            </div>
            <div class="col-sm-8">
                <strong>Contacto de emergencia: </strong><label>{{participante?.contacto_emer}}</label>
            </div>
            <div class="col-sm-10">
                <strong>Telefono de Emergencia: </strong><label>{{participante?.tlf_emer}}</label>
            </div>
            <div class="col-sm-12">
                <strong>Alergias: </strong><label>{{participante?.alergias}}</label>
            </div>
            <div class="col-sm-12">
                <strong>Antecedentes: </strong><label>{{participante?.antecedentes}}</label>
            </div>
        </div>
    </div>

    <div class="card-header">
      <strong>Redes Sociales</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <strong>Instagram: </strong><label>{{participante?.instagram}}</label>
            </div>
            <div class="col-sm-6">
                <strong>Facebook: </strong><label>{{participante?.facebook}}</label>
            </div>
            <div class="col-sm-6">
                <strong>Youtube: </strong><label>{{participante?.youtube}}</label>
            </div>
            <div class="col-sm-6">
                <strong>Twitter: </strong><label>{{participante?.twitter}}</label>
            </div>
        </div>
    </div>

    <p-footer>
    </p-footer>
</p-dialog>